@import url('https://fonts.googleapis.com/css?family=Lexend+Exa|Roboto+Mono&display=swap');




 body {
    width: 100vw;
    min-height: 100vh;
    background: gray;
    font-family: 'Lexend Exa', sans-serif;
   font-family: 'Roboto Mono', monospace;
    
 }

header{
    height: 20vh;
    width: 100vw;
    background: rgb(133, 0, 0);
    position: static;
    text-align: center;
    font-size: 30px;
    color: yellow
}


